<section class="welcome">
    <h1>Welcome to Barquinhos</h1>
</section>
<img src="<%= Routes.static_path(@socket, "/images/home.png") %>" alt="Barquinhos"/>
<section class="center">
    <button phx-click="play" class="play">Play!</button>
</section>
